.singlePokemon__hero {
  margin: 50px 300px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-color: khaki;
  border-radius: 20px;
  border:none;
}
.singlePokemon__paragraph {
  padding: 20px;
}
.singlePokemon__description {
  color: black;
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 1.5px;
}
.singlePokemon__action-btn {
  border-radius: 5px;
  background-color: darkkhaki;
  border: 1px dotted darkslateblue;
  color: darkblue;
  padding: 5px;
  margin: 10px;
}
.singlePokemon__moves {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  row-gap: 5px;
  column-gap: 5px;
}
.move__btn {
  padding: 5px;
  color: darkslateblue;
  border: none;
  background-color: darkkhaki;
  cursor: pointer;
  border-radius: 5px;
}
