.header {
  display: flex;
  width: 100%;
  min-height: 100px;
  justify-content: space-around;
  align-items: center;
  padding: 30px 150px;
  border-bottom: 2px solid #acacb6;
}
.header__navigation {
  font-size: 30px;
  letter-spacing: 3px;
  text-decoration: none;
  color: midnightblue;
  }

