.pokemon__hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap:30px;
  column-gap: 30px;
  padding-top: 50px;
}
.pokemon__card {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  justify-content: center;
  box-shadow: -2px 0px 28px 8px rgba(131,131,140,0.75);
  padding: 20px
}
.pokemon__btn {
  background-color: lightsteelblue;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
    border: 1px solid lightslategrey;
    color: darkblue;
  }
}
.switch_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 150px;
}
.switch_btn {
  color: darkblue;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px;
  background-color: khaki;
  border-radius: 10px;
  border: 1px solid khaki;
  margin-top: 50px;
  box-shadow: -2px 0px 28px 8px rgba(131,131,140,0.75);
  cursor: pointer;
  &:hover {
    border: 1px solid darkblue;
    opacity: 0.8;
  }
}
